@font-face {
    font-family: 'Alice';
    src: url('./fonts/Alice-Regular.ttf');
    /* Add other formats if available */
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0px;
    padding: 0px;
    border: 0;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #fff;
    font-family: 'Alice';
    font-weight: bold;
}

.container{
    width: auto;
    height: auto;
}

main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

.nav{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #f5f1e2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.nav a{
    width: 200px;
    height: 40px;
    border-radius: 25px;
    background-color: #f5f1e2;
    color: #3b3d3d;
    text-decoration: none;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.nav a:hover {
    background-color: #e7b06f;
    color: #f5f1e2;
}

#brand-logo{
    background-color: transparent;
}

/* This is where the css-code starts, the code above needs to be duplicated */
.container-main{
    display: flex;
    flex-flow: column;
}

.container-form{
    background-color: #3f6668;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 8px;
}
h1{
  color: white;
  font-size: 20px;
  text-align: center;
}

p{
  text-align: center;
  font-family: 'Alice';
  color: #3b3d3d;
  font-size: 20px;
}

/*------------------------for all forms--------------------*/
form{
  height: 80%;
  width: 50%;
  flex-direction: column;
}

.all-forms{
  margin-top: 5%;
  height: 80%;
}

.form-x{
  width: 46%;
  height: 56.5%;
  background-color: #f5f1e2;
  border-radius: 25px;
  padding: 2%;
  display: flex;
  justify-content: center;
}
#form-1{
  position: absolute;
  z-index: 1;
}
#form-2{
  position: absolute;
  z-index: -1;
}
#form-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: -1;
}

.third-form-text{
  margin: 5% 5% 5% 5%;
  padding: 5% 5% 5% 5%;
  color: #3b3d3d;
}

label{
  color: #3b3d3d;
  margin-left: 10px;
}

input{
  color: black;
  border-radius: 5px;
  width: 95%;
  height: 40px;
  margin-bottom: 10px;
  border: none;
  font-family: 'Alice';
  box-shadow: 0px 0px 5px grey;
  padding-left: 12px;
  margin-top: 7px;
}

textarea{
    width: 95%;
    height: 120px;
    resize: none;
    border: none;
    border-radius: 5px;
    font-family: 'Alice';
    box-shadow: 0px 0px 5px grey;
    padding: 2px 2px 2px 10px;
    margin: 7px 0px 10px;
}

/*---------------------------------------form 1-------------------------------*/

.left-half{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: left;
  justify-content: baseline;
}

.right-half{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: baseline;
  padding-left: 5%;
}

.half-input{
  width: 85%;
}

.c-city-zip{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*---------------------------------form 2-----------------------------------------*/

.f2-right-half{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: baseline;
  padding-left: 5%;
}
.c-price{
  display: flex;
  flex-direction: row;
}
.r-label{
  margin: 5px 0px;
}

.img{
  border: none;
  box-shadow: none;
}

#unit{
  margin: 14px 0px 0px 20px;
  height: 40%;

}

.unit-dropdown{
  justify-content: center;
}

.category-dropdown{
  height: 5.5%;
}



/* - - - - - - - - - -  CSS-code for the progressbar begins here - - - - - - - - - - - - - - - - -*/

.progress-container{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.progress-bar{
  width: 80%; /* CHAGNE HERE TO CHANGE SIZE OF PROGRESS BAR*/
  height: 30%; /* CHAGNE HERE TO CHANGE SIZE OF PROGRESS BAR*/
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

.progress-state{
  position: relative;
  width: 4vh;
  height: 4vh;
  background-color: #fff;
  border: 5px solid #adadad;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 1.5vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  z-index: 2;
  color: #adadad;
  transition: 0.5s;
}

.progress-line{
  width: 30%;
  height: 5px;
  background-color: #adadad;
  z-index: 1;
  transition: 0.5s;
}
#state1{
  border: 5px solid #e7b06f;
  color: #e7b06f;  
}
.progress-btns{
  width: 90%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.progress-btns div{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-btns button{
  font-family: 'Alice';
  background: #f5f1e2;
  border-radius: 25px;
  border: #3f6668;
  font-size: 16px;
  color: #3b3d3d;
  width: 200px;
  height: 40px;
}

.progress-btns button:active{
  border: 3px solid gray;
}

.progress-btns button:hover {
  background-color: #e7b06f;
  color: #f5f1e2;
}

#register-btn, #next-btn, #previous-btn{
  position: absolute;
}


#previous-btn{
  visibility: hidden;
}