:root {
    --customGreen: #3f6668;
    --light: #f5f1e2;
}

@font-face {
    font-family: 'Alice';
    src: url('./fonts/Alice-Regular.ttf');
    /* Add other formats if available */
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0px;
    padding: 0px;
    border: 0;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: visible;
    color: #fff;
    font-family: 'Alice';
    font-weight: normal;
}

a{
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6 , p{
    font-family: Arial, Helvetica, sans-serif;
}

/* .container{
    width: auto;
    height: auto;
} */

main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

.nav{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--customGreen);
    flex-direction: row;
}

.nav a{
    width: 200px;
    height: 40px;
    border-radius: 25px;
    background-color: #f5f1e2;
    /* background-color: #e7b06f; */
    color: #3f6668;
    text-decoration: none;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.nav a:hover {
    /* background-color: #3f6668; */
    background-color: #e7b06f;
    color: #f5f1e2;
}

#brand-logo{
    background-color: transparent;
}

.seller-column{
    background-color: #3f6668;
    width: 30%;
    /* height: 100%; */
    height: 100vh;
    
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.seller-column ul{
    margin: 0 0 0 0;
    list-style-position: inside;
    padding-left: 0;
    overflow-y: scroll;
    /* background-color: #bfc66e; */
    background-color: #53313e;
    height: 100%;
    font-size: 14px;
    font-weight: normal;
}



.seller-column ul li:hover {
    /* background-color: #a1a859; */
    background-color: #432832;
    cursor: pointer;
}

.seller-column ul li h5, p {
    padding: 0;
    margin: 0;
}

#timestamp {
    color: #b4b4b4;
}

.seller-column ul li {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom: 2px solid #0000003f;
    padding: 0 10px;
    max-height: 170px;
}

.product-img {
    grid-area: 1 / 1 / 5 / 4;
    place-self: center baseline;
    width: 80% !important;
    height: 80% !important;
    object-fit: cover;
    border-radius: 10px;
}


.product-header {
    grid-area: 1 / 4 / 2 / 7;
}

.product-city {
    grid-area: 2 / 4 / 3 / 7;
}

.product-desc {
    grid-area: 3 / 4 / 4 / 7;
}

.product-price {
    grid-area: 3/ 4/ 4 / 6;
}

.product-time {
    grid-area: 4 / 3 / 4 / 7;
    place-self: center end;
}


.seller-column ul li img {
    width: 80px;
    height: 80px;

}


.right-content{
    position: relative;
    width: 70%;
    height: 100vh;
    /* height: 100%; */
    display: flex;
    flex-direction: column-reverse;
    flex: 3;
}

.map{
    position: relative;
    background-color: #e7b06f;
    width: 100%;
    height: 100%;
    color: #000;
}


.info-c{
    position: absolute;
    display: none;
    align-items: center;
    flex-flow: column;
    /* flex-flow: column-reverse; */
    width: 100%;
    /* height: 50px; */
    transition: 0.5s;
}

.info-c button{
    position: relative;
    width: 100px;
    background: #3f6668;
    border: none;
    border-radius: 5px 5px 0 0;
    padding-top: 5px;
    
}

.info-c button:hover {
    cursor: pointer;
}

/*INFO BOX*/

.seller-info{
    background-color: #3f6668;
    width: 100%;
    /* min-height: 20px; */
    transition: 0.5s;
}

#full-product{
    /* position: absolute; */
    display: none;
    background-color: #fff;
    /* height: 100%; */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* gap: 2px; */
    background-color: var(--customGreen);
    /* border: solid 4px red; */

}

#full-product > *{
    padding-left: 20px;
    background-color:var(--customGreen);
}

#info-header{
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    display: inline-flex;
    flex-flow: column;
    align-items: baseline;

}

#info-header h2{
    margin-top: -20px;
    border-bottom: 1px solid gray;
}

#info-description{
    grid-column: 1/4;
    grid-row: 2/4;
    /* font-size: 1.3rem; */
    border-bottom: 1px solid gray;
}

/*Header of each grid item*/
#full-product h4{
    font-size: 1.3rem;
}


#info-image{
    grid-column: 4/ span end;
    grid-row: 1/ 4;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

#info-image img{
    max-width: 80%;
    width: auto;
    max-height: 80%;
    height: auto;
    object-fit: cover;
}

#info-location{
    grid-column: 4 / end;
    grid-row: 4 / end;
}

#info-seller{
    grid-column: 1 / 4;
    grid-row: 4 / end;
}

#full-product p{
    margin-top: -20px;
}

/*END INFO BOX*/

#expandIcon{
    transition: 0.5s;
}

.searchbox{
    height: auto;
    width: 100%;
}

.searchbox input{
    border: 0px solid transparent;
    width: 80%;
    height: 40px;
    font-family: 'Alice';

    border-radius: 30px;
    padding-left: 2.2rem;
}

.icon{
    position: relative;
    width: 1rem;
    height: 1rem;
    left: 1.8rem;
    fill: #9e9ea7;
}


.filter-options{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-flow: row;
}


.container-main{
    display: flex;
    flex-flow: column;
}


/* FILTER BUTTON */

#filterBtn{
    background: #d3d3d3;
    width: 35px;
    height: 35px;
    border: none;
    margin: 10px;
}

#filterBtn:active {
    background: #939393;
    
}

#filter-dd{
    height: 200px;
    width: inherit;
    min-width: 160px;
    position: absolute;
    display: none;
    flex-flow: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    background-color: var(--customGreen);
    transition: 1s;
}

/* FILTER BOX CHILDREN */
#filter-dd *{
    width: 30%;
    font-weight: bold;
        
}

#filter-dd button{
    height: 30px;
}

#filter-dd select, option{
    height: 25px;
    width: 40%;
}

