body{
    margin: 0px;
    padding: 0px;
    border: 0;
    max-width: 100vw;
    overflow-x: hidden;
    color: #fff;
}

.container{
    width: auto;
    height: auto;
}

main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}

.nav{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #031D44;
}

.seller-column{
    background-color: #70A288;
    width: 30%;
    height: 100%;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.seller-column ul{
    margin: 0 0 0 0;
    list-style-position: inside;
    padding-left: 0;
    overflow-y: scroll;
    background-color: #DAB785;
    height: 100%;
}


.seller-column ul li{
    display: block;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid black;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: bold;
}


.right-content{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 3;
}


.map{
    border: 1 solid black;
    background-color: #FFC971;
    width: 100%;
    height: 70%;
    flex: 2;
    color: #000;
}

.seller-info{
    background-color: #04395E;
    width: 100%;
    height: 30%;
    flex: 1;
}

.seller-info h2{
    padding-left: 50px;
    font-size: 2em;
}

/* .seller-info:hover {
    width: 100%;
    height: 10px;
    flex: none;
    transition: 3s;
    
} */
.searchbox{
    /* border-bottom: 1px solid black; */
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.searchbox input{
    border: 0px solid transparent;
    width: 80%;
    height: 40px;
    border-radius: 30px;
    padding-left: 2.2rem;
}

.icon{
    position: relative;
    width: 1rem;
    height: 1rem;
    left: 1.8rem;
    fill: #9e9ea7;
}


.container-main{
    display: flex;
    flex-flow: column;
}